<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andaman</title>
    <link rel="stylesheet" href="/static/andaman/andaman.css">
    <script defer src="/static/andaman/andaman.js"></script>
</head>

<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/destination">Destination</a></li>
                    <li><a href="/location">Hotel Locater</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Help</a></li>
            </div>
        </nav>
    </header>
    <main>
        <div id="andaman-banner">
            <img class="andaman-banner" src="/static/andaman/andaman-banner.avif">
        </div>
        <div id="andaman-tag">
            <h1 class="heading">ANDAMAN & NICOBAR</h1>
            <p class="quote">Emerald isles, pristine beaches, tribal whispers. </p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4020949.8039560686!2d90.58913096959091!3d10.204286914073048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3064a00f2b650ff3%3A0xce80055648fccb2c!2sAndaman%20and%20Nicobar%20Islands!5e0!3m2!1sen!2sin!4v1719000200449!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>


            </ul>
            <div id="bar-layover"></div>
        </div>
        <section id="content">
            <section id="overview-section">
                <div class="overview">
                    <h1>Overview</h1>
                    <p> <big> The Andaman and Nicobar Islands</big> , a union territory of India, is an archipelago
                        offering contrasting
                        experiences on two distinct island groups</p>
                    <h3> Unveiling Paradise: </h3>
                    <p> Andaman boasts some of India's most stunning beaches like Radhanagar Beach, Havelock Island
                        Beach, and Elephant Beach, perfect for swimming, sunbathing, and water sports.<br>Emerald Forests: Dense rainforests teeming with exotic flora and fauna cover a significant portion of the islands. Explore these lush landscapes through trekking trails, encounter vibrant birdlife, or spot indigenous wildlife like wild elephants and Andaman macaques.</p>
                    <h3>Adventure Playground: </h3>
                    <p> Scuba Diving & Snorkelling: Andaman's crystal-clear waters and vibrant coral reefs make it a haven for scuba diving and snorkeling enthusiasts. Explore the underwater world teeming with colorful marine life, from playful dolphins to majestic manta rays.<br>
                        Water Sports: Get your adrenaline pumping with various water sports activities like jet skiing, parasailing, and kayaking. Enjoy thrilling rides on the waves or explore hidden coves and mangrove forests from a unique perspective.</p>
                    <h3>Cultural Tapestry:</h3>
                    <p> Cellular Jail: A poignant reminder of India's colonial past, the Cellular Jail in Port Blair served as a cellular jail for Indian freedom fighters. Explore its architecture and learn about the struggles for independence.</p>

                </div>
            </section><br><br><br>
            <section id="best-time-section">
                <div class="best-time-visit">
                    <h1>Best Time To Visit</h1>
                    <br><br><br>
                    <div class="card-container">
                        <div class="card" id="winter-card">
                            <div class="card-front1">
                                Winter
                            </div>
                            <div class="card-back1"><br><br>
                                <h2>Best time:</h2>November to February<br><br><br><br>
                                <h2>Temperature:</h2>15°C to 28°C
                            </div>
                        </div>
                        <div class="card" id="summer-card">
                            <div class="card-front2">
                                Summer
                            </div>
                            <div class="card-back2"><br><br>
                                <h2>Best time: </h2>March to May<br><br><br><br>
                                <h2>Temperature: </h2>24°C to 32°C
                            </div>
                        </div>
                        <div class="card" id="monsoon-card">
                            <div class="card-front3">
                                Monsoon
                            </div>
                            <div class="card-back3"><br><br>
                                <h2>Best time: </h2>July to September<br><br><br><br>
                                <h2>Temperature: </h2>24°C to 30°C
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="places-visit-section">
                <div class="places-visit">
                    <h1>Places To Visit</h1>
                    <div id="slider-bar">
                        <div class="container">

                            <div class="slide">


                                <div class="item" style="background-image: url(/static/andaman/Chidiya-Tapu-Andman.jpg);">
                                    <div class="content">
                                        <div class="name">Chidiya-Tapu</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/andaman/Havelock-Island-Andaman.jpg);">
                                    <div class="content">
                                        <div class="name">Havelock-Island</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/andaman/Mount-Harriet-National-Park.jpg);">
                                    <div class="content">
                                        <div class="name">Mount-Harriet-National-Park</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/andaman/Ross-Island-Andaman.jpg);">
                                    <div class="content">
                                        <div class="name">Ross-Island</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/andaman/Wandoor-Beach-Andaman.jpg);">
                                    <div class="content">
                                        <div class="name">Wandoor-Beach-Andaman</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/andaman/Barren-Island-Andaman.jpg);">
                                    <div class="content">
                                        <div class="name">Barren-Island</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>

                            </div>

                            <div class="button">
                                <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="how-to-reach-section">
                <div class="how-to-reach">
                    <h1>How To Reach</h1><br><br><br>
                    <h2>Air:</h2>
                    <p>
                        Veer Savarkar International Airport (PSO) at Port Blair is the sole airport in Andaman and Nicobar Islands.
                        <br>Direct domestic flights are available from various major Indian cities, including Kolkata, Chennai, Delhi, Bangalore, Hyderabad, and Bhubaneswar.

                    </p>

                    <h2>Ship:</h2>
                    <p>Government ferries operate regularly from mainland India to Port Blair. The journey takes approximately 50-60 hours, depending on the departing port.
                        Major ports with ferry services to Port Blair include:<br>
                        Chennai<br>
                        Kolkata<br>
                        Visakhapatnam</p>

                    
            </section>
        </section>
        <section id="package">
            <h2>Travel Package</h2><br>
            <p>Experience the best of comfort with our exclusive travel package:</p><br>
            <ul>
                <li>5 days and 4 nights stay at a luxury resort</li>
                <li>Guided tours to must-visit locations</li>
                <li>All meals included</li>
                <li>Special cultural evening with local performances</li>
            </ul><br><br>
            <button >Book Now</button>
        </section>
    </main>
    <footer></footer>
</body>

</html>