<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andra Pradesh</title>
    <link rel="stylesheet" href="/static/andra/andrapradesh.css">
    <script defer src="/static/andra/andrapradesh.js"></script>
</head>

<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="andrapradesh-banner">
            <img class="andrapradesh-banner" src="/static/andra/andrapradesh-banner.avif">
        </div>
        <div id="andrapradesh-tag">
            <h1 class="heading">ANDRA PRADESH</h1>
            <p class="quote">Rice bowl of the south  </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929667.129886516!2d78.11873749634915!3d15.879414887073139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3546f8ae93d47f%3A0x33d1bbbe95adcd83!2sAndhra%20Pradesh!5e0!3m2!1sen!2sin!4v1719000247566!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>


            </ul>
            <div id="bar-layover"></div>
        </div>
        <section id="content">
            <section id="overview-section">
                <div class="overview">
                    <h1>Overview</h1>
                    <p> <big>  Andhra Pradesh</big>  , a state on the southeastern coast of India, boasts a rich tapestry of history, culture, and natural beauty</p>
                    <h3>  Historical Significance: </h3>
                    <p>  Andhra Pradesh is home to ancient empires like the Satavahanas, Ikshvakus, and 
                        Pallavas. Explore the architectural marvels of the Kakatiya dynasty in Warangal, the Buddhist stupas of 
                        Amaravati, and the captivating ruins of Vijayanagara, a UNESCO World Heritage Site.</p>
                    <h3>  Spiritual Sites:  </h3>
                    <p>  Andhra Pradesh is a prominent pilgrimage destination for Hindus. Seek blessings at the revered 
                        Tirupati Balaji temple, one of the most visited pilgrimage sites in the world. Explore the ancient temples of 
                        Srikakulam and the serene atmosphere of Buddhist monasteries like Nagarjuna Konda.</p>
                    <h3>    Coastal Delights: </h3>
                    <p> Andhra Pradesh boasts a stunning coastline along the Bay of Bengal. Relax on the pristine 
                        beaches of Visakhapatnam, explore the serene haven of Araku Valley, or delve into the rich marine life at 
                        Ramakrishna Beach</p>

                </div>
            </section><br><br><br>
            <section id="best-time-section">
                <div class="best-time-visit">
                    <h1>Best Time To Visit</h1>
                    <br><br><br>
                    <div class="card-container">
                        <div class="card" id="winter-card">
                            <div class="card-front1">
                                Winter
                            </div>
                            <div class="card-back1"><br><br>
                                <h2>Best time:</h2>November to February<br><br><br><br>
                                <h2>Temperature:</h2>16°C to 25°C
                            </div>
                        </div>
                        <div class="card" id="summer-card">
                            <div class="card-front2">
                                Summer
                            </div>
                            <div class="card-back2"><br><br>
                                <h2>Best time: </h2>March to May<br><br><br><br>
                                <h2>Temperature: </h2>  28°C to 45°C
                            </div>
                        </div>
                        <div class="card" id="monsoon-card">
                            <div class="card-front3">
                                Monsoon
                            </div>
                            <div class="card-back3"><br><br>
                                <h2>Best time: </h2>July to September<br><br><br><br>
                                <h2>Temperature: </h2> 25°C to 32°C 
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="places-visit-section">
                <div class="places-visit">
                    <h1>Places To Visit</h1>
                    <div id="slider-bar">
                        <div class="container">

                            <div class="slide">


                                <div class="item"
                                    style="background-image: url(/static/andra/AMARAVATHI.jpg);">
                                    <div class="content">
                                        <div class="name">AMARAVATHI</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item"
                                    style="background-image: url(/static/andra/ARAKU-VALLEY.jpg);">
                                    <div class="content">
                                        <div class="name">ARAKU-VALLEY</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item"
                                    style="background-image: url(/static/andra/GANDIKOTA.jpg);">
                                    <div class="content">
                                        <div class="name">GANDIKOTA</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item"
                                    style="background-image: url(/static/andra/KURNOOL.jpg);">
                                    <div class="content">
                                        <div class="name">KURNOOL</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item"
                                    style="background-image: url(/static/andra/TIRUPATI.jpg);">
                                    <div class="content">
                                        <div class="name">TIRUPATI</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item"
                                    style="background-image: url(/static/andra/VISAKHAPATNAM.jpg);">
                                    <div class="content">
                                        <div class="name">VISAKHAPATNAM</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>

                            </div>

                            <div class="button">
                                <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="how-to-reach-section">
                <div class="how-to-reach">
                    <h1>How To Reach</h1><br><br><br>
                    <h2>Air:</h2>
                    <p>
                        Visakhapatnam International Airport (VTZ): Located in Visakhapatnam, it caters to domestic flights from major cities like Delhi, Mumbai, Chennai, Kolkata, and Bangalore<br>Vijayawada International Airport (VGA): Situated near Vijayawada, the capital of Andhra Pradesh, it offers connections to Delhi, Mumbai, Chennai, Bangalore, and Hyderabad.<br>Tirupati Airport (MAA): Primarily serves pilgrims visiting Tirupati, but also offers flights to some major cities.
                    </p>

                    <h2>Train:</h2>
                    <p>Secunderabad Junction (Secunderabad): A major station near Hyderabad, offering trains to various parts of India.<br>Visakhapatnam Junction (Visakhapatnam): Connects Visakhapatnam to other major cities.<br>
                        Vijayawada Junction (Vijayawada): A major junction station in Andhra Pradesh.<br>
                        Tirupati Main (Tirupati): Connects Tirupati to various destinations.<br>
                        Other stations include Rajahmundry, Kakinada, Nellore, and Guntur.</p>

                    <h2>Road:</h2>
                    <p>  Network: Andhra Pradesh has a well-developed road network, with national and state highways connecting major cities and towns. The Andhra Pradesh State Road Transport Corporation (APSRTC) operates a vast network of buses across the state, and private operators offer services from neighboring states.</p>

            </section>
        </section>
        <section id="package">
            <h2>Travel Package</h2><br>
            <p>Experience the best of comfort with our exclusive travel package:</p><br>
            <ul>
                <li>5 days and 4 nights stay at a luxury resort</li>
                <li>Guided tours to must-visit locations</li>
                <li>All meals included</li>
                <li>Special cultural evening with local performances</li>
            </ul><br><br>
            <button >Book Now</button>
        </section>
    </main>
    <footer></footer>
</body>

</html>