<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chandigarh</title>
    <link rel="stylesheet" href="/static/chandigarh.css"> 
    <script defer src ="/static/chandigarh.js"></script>
</head>
   
<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/destination">Destination</a></li>
                    <li><a href="/location">Hotel Locater</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="chandigarh-banner">
            <img  class="chandigarh-banner"  src="/static/north-images/rockgarden.jpeg">
        </div>
        <div id="chandigarh-tag">
            <h1 class="heading">CHANDIGARH</h1>
            <p class="quote">Where modernity meets serenity in the heart of India</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109744.22709350154!2d76.68831193068783!3d30.732254421928857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fed0be66ec96b%3A0xa5ff67f9527319fe!2sChandigarh!5e0!3m2!1sen!2sin!4v1718782095042!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>
               
               
            </ul>
      <div id="bar-layover"></div>
        </div>
        <section id="content">
               <section id="overview-section">
          <div class="overview">
            <h1>Overview</h1>
                <p> <big>Chandigarh</big>, a city that epitomizes modern urban planning and architecture, serves as the capital of both Punjab and Haryana. Renowned for its clean, green, and well-organized layout, Chandigarh offers a unique blend of urban sophistication and natural beauty.</p><br>
                
                <h3>Historical Significance</h3>

<p>Chandigarh holds a special place in India’s post-independence history. It was developed in the 1950s to serve as the new capital after the partition of Punjab. Le Corbusier's vision for Chandigarh was to create a city that would break away from the traditional colonial architecture, focusing on functionality, simplicity, and a harmonious relationship with nature.</p><br>
                <h3>Architectural Marvels</h3>
                <p>Designed by the famous French architect Le Corbusier, Chandigarh is celebrated for its remarkable architecture. The Capitol Complex, featuring the High Court, the Secretariat, and the Legislative Assembly, is a UNESCO World Heritage Site. The Open Hand Monument, symbolizing peace and reconciliation, is another iconic structure that draws visitors.</p><br>
                
                <h3>Gardens and Natural Beauty</h3>
                <p>Chandigarh is home to several beautiful gardens that provide a serene escape from urban life. The Rock Garden, created by Nek Chand, is a vast, whimsical landscape of sculptures made from industrial and home waste. Adjacent to it lies Sukhna Lake, a man-made reservoir perfect for boating and evening strolls. Additionally, the Rose Garden, Asia’s largest of its kind, showcases thousands of rose varieties, making it a must-visit for nature enthusiasts.</p><br>
                
                <h3>Cultural and Recreational Spots</h3>
                <p>The city boasts a variety of cultural and recreational spots. The Government Museum and Art Gallery houses an impressive collection of Gandharan sculptures, Pahari and Rajasthani miniature paintings, and modern art. For a family-friendly outing, the Chandigarh Zoological Park and the International Dolls Museum provide delightful experiences.</p><br>
                
               
          </div>
        </section><br><br><br>
        <section id="best-time-section">
               <div class="best-time-visit">
                  <h1>Best Time To Visit</h1>
                  <br><br><br>
                  <div class="card-container">
                    <div class="card" id="winter-card">
                        <div class="card-front1">
                            Winter
                        </div>
                        <div class="card-back1"><br><br>
                            <h2>Best time:</h2>December to February<br><br><br><br>
                            <h2>Temperature:</h2> 5°C to 20°C
                        </div>
                    </div>
                    <div class="card" id="summer-card">
                        <div class="card-front2">
                            Summer
                        </div>
                        <div class="card-back2"><br><br>
                            <h2>Best time: </h2>April to June<br><br><br><br>
                            <h2>Temperature: </h2>25°C to 40°C
                        </div>
                    </div>
                    <div class="card" id="monsoon-card">
                        <div class="card-front3">
                            Monsoon
                        </div>
                        <div class="card-back3"><br><br>
                            <h2>Best time: </h2>July to September<br><br><br><br>
                            <h2>Temperature: </h2>25°C to 35°C
                        </div>
                    </div>
                </div>
            
               </div>
        </section>
        
        <section id="places-visit-section">
            <div class="places-visit">
                <h1>Places To Visit</h1>
                <div id="slider-bar">
                 <div class="container">
            
                    <div class="slide">
            
                        
                        <div class="item" style="background-image: url(/static/north-images/Zoological-Park.jpg);">
                            <div class="content">
                                <div class="name">Zoological Park</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/north-images/Sukhna);">
                            <div class="content">
                                <div class="name">Sukhna Lake</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/north-images/Rose-Garden.jpg);">
                            <div class="content">
                                <div class="name">Rose Garden</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/north-images/Rock-Garden.jpg);">
                            <div class="content">
                                <div class="name">Rock Garden </div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/north-images/The-Japanese-Garden-Chandigarh.jpg);">
                            <div class="content">
                                <div class="name">The Japanese Garden</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/north-images/butterfly.jpeg);">
                            <div class="content">
                                <div class="name">Buterfly Garden</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
            
                    </div>
            
                    <div class="button">
                        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                 </div>
              </div> 
            </div>
        </section>
        <section id="how-to-reach-section">
            <div class="how-to-reach">
                <h1>How To Reach</h1><br><br><br>
                <h2>Air:</h2> <p>Chandigarh Airport, also known as Dr. Babasaheb Ambedkar International Airport, is well-connected to other parts of India with regular flights from major cities like Delhi, Mumbai, Bangalore, Chennai, Kolkata, and Ahmedabad.  Several airlines operate flights to Chandigarh, including IndiGo, SpiceJet, Air India, and GoAir.  Taxis and public buses are readily available at the airport to take you to your destination in Chandigarh.</p>

                <h2>Train:</h2> <p>Chandigarh Railway Station is well-linked to various cities across India. Several express and superfast trains operate to and from Chandigarh, connecting it to major destinations like Delhi, Mumbai, Kolkata, Amritsar, and Jaipur.</p>

                <h2>Road:</h2> <p>Chandigarh is well-connected by road with a network of national highways and expressways.  You can take a bus from your city to Chandigarh. There are government-run buses operated by state transport corporations as well as private bus services.  Alternatively, you can drive to Chandigarh from your city. National Highway 5 (NH5) connects Chandigarh to Delhi, while NH7 connects it to Ambala and other parts of North India.</p>
               
        </section>
      </section> 
      <section id="package">
        <h2>Travel Package</h2><br>
        <p>Experience the best of Dreamland with our exclusive travel package:</p><br>
        <ul>
            <li>5 days and 4 nights stay at a luxury resort</li>
            <li>Guided tours to must-visit locations</li>
            <li>All meals included</li>
            <li>Special cultural evening with local performances</li>
        </ul><br><br>
        <li class="link-item"><a href='/flight-booking'>Book Now</a></li>
    </section>
    </main>
    <footer></footer>
    
</body>

</html>