<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/destination.style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body>
  
  <header>
    <div class="container">
      <div class="welcome-text">
        <p id="destination-text">DESTINATIONS</p>
        <pre id="destination-quote">              Discover your Next Adventure...</pre>
         
      </div>
    </div>
    <div class="note">GET READY TO EXPLORE THE HIDDEN GEMS!</div>

  
  </header>
 

  <main>
   
    <div id="north-tag">
      <h2>NORTH INDIA</h2></div>
      <p class="north-tag-info"><big>North India</big>, a mesmerizing tapestry of vibrant cultures and stunning landscapes, invites you on an unforgettable journey. From the majestic peaks of the Himalayas to the sacred ghats of Varanasi, this region is a treasure trove of experiences. Marvel at the architectural grandeur of the Taj Mahal, lose yourself in the bustling bazaars of Delhi, and seek spiritual solace in the serene monasteries of Ladakh. North India’s rich history, diverse traditions, and warm hospitality promise a travel adventure that captivates your heart and soul, leaving you with memories that last a lifetime. Embark on your northern odyssey and discover the magic of India.</p>
    
    <div id="north">
     <div id="north-states1">
      <div id="Chandigarh" class="states">
        <img src="/static/north-images\chandigarh.jpg">
        <h3><a class="state-link" href='/chandigarh'>Chandigarh</a></h3><br><br>
        <a class="explore-more"  href="#">explore more...</a>
             
        
      </div>
      <div id="Delhi" class="states">
        <img src="/static/north-images\delhi.jpg">
        <div class="circle"></div>
        <h3><a class="state-link" href="/Delhi">Delhi</a> </h3>
        
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Haryana" class="states">
        <img src="/static/north-images\haryana.jpg">
        <h3><a class="state-link" href="/haryana">Haryana</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Himachal" class="states">
        <img src="/static/north-images\himachal.jpg">
        <h3><a class="state-link" href="/himachal">Himachal Pradesh</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Jk" class="states">
        <img src="/static/north-images\j&k.jpg">
        <h3><a class="state-link" href="/jammu">Jammu & Kashmir</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>

     </div><br><br>
     <div id="north-states2">
      <div id="Ladakh" class="states">
        <img src="/static/north-images\ladakh.jpg">
        <h3><a class="state-link" href="/ladakh">Ladakh</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Punjab" class="states">
        <img src="/static/north-images\punjab.jpg">
        <h3><a class="state-link" href="#">Punjab</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Rajasthan" class="states">
        <img src="/static/north-images\rajasthan.jpg">
        <h3><a class="state-link" href="#">Rajasthan</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Up" class="states">
        <img src="/static/north-images\up.jpg">
        <h3><a class="state-link" href="#">Uttar Pradesh</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Uttarakhand" class="states">
        <img src="/static/north-images\uttarakhand.jpg">
        <h3><a class="state-link" href="#">Uttrakhand</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
    </div>
   
  </div>
  
    <div id="south-tag">
       <h2>SOUTH INDIA</h2></div>
       <p class="south-tag-info">
        Nestled in the lush greenery and vibrant cultures, <big>South India</big> is a paradise for travelers. With its stunning coastlines, majestic temples, and serene backwaters, it offers a unique blend of nature, history, and spirituality. From the intricate architecture of Hampi and the tranquil beaches of Kerala to the rich heritage of Tamil Nadu and the lush hill stations of Karnataka, every corner of South India tells a story. Savor the region’s diverse cuisine, revel in its colorful festivals, and immerse yourself in its warm hospitality. Discover South India – where tradition meets tranquility.
       </p>
    
    <div id="south">
     <div id="south-states1">
      <div id="Andaman" class="states">
        <img src="/static/south-images\Andaman and Nicobar.jpg">
        <h3><a class="state-link" href="/andaman">Andaman and Nicobar</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Andrapradesh" class="states">
        <img src="/static/south-images\andrapradesh.jpg">
        <h3><a class="state-link" href="/andra">Andra Pradesh</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Kerala" class="states">
        <img src="/static/south-images\keralapic.jpg">
        <h3><a class="state-link" href="/kerala">Kerala</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Karnataka" class="states">
        <img src="/static/south-images\karnataka.jpg">
        <h3><a class="state-link" href="/karnataka">Karnataka</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
     </div> <br><br>
     <div id="south-states2">
      <div id="Lakshadweep" class="states">
        <img src="/static/south-images\Lakshadweep.jpg">
        <h3><a class="state-link" href="#">Lakshadweep</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Pondicherry" class="states">
        <img src="/static/south-images\Pondicherry.jpg">
        <h3><a class="state-link" href="#">Pondicherry</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="TamilNadu" class="states">
        <img src="/static/south-images\Tamil Nadu.jpg">
        <h3><a class="state-link" href="#">Tamil Nadu</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Telangana" class="states">
        <img src="/static/south-images\Telangana.jpg">
        <h3><a class="state-link" href="#">Telangana</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
     </div>
    </div>
  
    <div id="central-tag"><h2>CENTRAL INDIA</h2></div>
      <p class="central-tag-info">
        <big>Central India</big>, the heart of the nation, is a vibrant tapestry of history, culture, and natural beauty. Home to majestic forts, ancient temples, and lush forests, this region offers a unique blend of adventure and tranquility. Explore the dense jungles of Madhya Pradesh, where tigers roam freely, or marvel at the architectural wonders of Khajuraho and Sanchi. The serene landscapes of Chhattisgarh and the vibrant bazaars of Indore beckon travelers with their charm. Central India promises an unforgettable journey through time, where every corner whispers stories of its glorious past and captivating present. Discover the soul of India in its heartland.
      </p>
    
    <div id="central">
     <div id="central-states">
      <div id="Chhattisgarh" class="states">
        <img src="/static/central-images\Chhattisgarh.jpg">
        <h3><a class="state-link" href="#">Chhattisgarh</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Madhyapradesh" class="states">
        <img src="/static/central-images\mp.jpg">
        <h3><a class="state-link" href="#">Madhya Pradesh</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
     </div>
    </div> 
  
    <div id="east-tag"><h2>EAST INDIA</h2></div>
      <p class="east-tag-info">
    

        Discover the enchanting allure of <big>East India</big>, a region where history, culture, and natural beauty converge. From the serene tea gardens of Assam to the vibrant festivals of West Bengal, East India offers a unique blend of tradition and modernity. Explore the pristine beaches of Odisha, the ancient temples of Bihar, and the lush greenery of Arunachal Pradesh. Immerse yourself in the local cuisine, renowned for its exotic flavors and spices. East India is a treasure trove of unforgettable experiences, waiting to be uncovered by the discerning traveler. Embark on a journey through this magical land, where every corner tells a story.
      </p>
    
    <div id="east">
     <div id="east-states1">
      <div id="ArunachalPradesh" class="states">
        <img src="/static/east-images\Arunachal Pradesh.jpg">
        <h3><a class="state-link" href="#">Arunachal Pradesh</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Assam" class="states">
        <img src="/static/east-images\Assam (2).jpg">
        <h3><a class="state-link" href="#">Assam</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Manipur" class="states">
        <img src="/static/east-images\Manipur.jpg">
        <h3><a class="state-link" href="#">Manipur</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Meghalaya" class="states">
        <img src="/static/east-images\Meghalaya.jpeg">
        <h3><a class="state-link" href="#">Meghalaya</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
     </div><br><br>
     <div id="east-states2">
      <div id="Mizoram" class="states">
        <img src="/static/east-images\Mizoram.jpeg">
        <h3><a class="state-link" href="#">Mizoram</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Nagaland" class="states">
        <img src="/static/east-images\Nagaland.jpg">
        <h3><a class="state-link" href="#">Nagaland</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Sikkim" class="states">
        <img src="/static/east-images\Sikkim.jpg">
        <h3><a class="state-link" href="#">Sikkim</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Tripura" class="states">
        <img src="/static/east-images\Tripura.jpg">
        <h3><a class="state-link" href="#">Tripura</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
     </div>
    </div>  
  
    <div id="west-tag"><h2>WEST INDIA</h2></div>
      <p class="west-tag-info">
        Explore the vibrant allure of <big>West India</big>, where ancient history and modern charm intertwine. From the majestic palaces and bustling bazaars of Rajasthan to the serene beaches and lush greenery of Goa, this region offers a kaleidoscope of experiences. Marvel at the intricacies of ancient temples, savor the rich flavors of local cuisine, and immerse yourself in the festive spirit of traditional dances and music. Whether you're seeking adventure in the vast Thar Desert or relaxation along the pristine Konkan coast, West India promises an unforgettable journey through its diverse landscapes and vibrant cultures.
      </p>
    
    <div id="west">
     <div id="west-states">
      <div id="DadraNagar" class="states">
        <img src="/static/west-images\Dadra and Nagar haveli.jpg">
        <h3><a class="state-link" href="#">Dadra and Nagar haveli</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Damandiu" class="states">
        <img src="/static/west-images\Daman and diu.jpg">
        <h3><a class="state-link" href="#">Daman and diu</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Goa" class="states">
        <img src="/static/west-images\Goa.jpg">
        <h3><a class="state-link" href="#">Goa</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
      <div id="Maharashtra" class="states">
        <img src="/static/west-images\Maharashtra.jpg">
        <h3><a class="state-link" href="#">Maharashtra</a></h3>
        <a class="explore-more"  href="#">explore more...</a>
      </div>
     </div>
    </div> 
  </main>
  <footer>
    <div class="footer-section">
        <h4>North India States</h4>
        <ul>
            <li><a href="#">Chandigarh</a></li>
            <li><a href="#">Delhi</a></li>
            <li><a href="#">Himachal Pradesh</a> </li>
            <li><a href="#">Rajasthan </a></li>
            <li><a href="#">Jammu & Kashmir</a></li>
            <li><a href="#">Uttarakhand</a></li>
            <li><a href="#">Punjab</a></li>
            <li><a href="#">Uttar Pradesh</a></li>
            <li><a href="#">Haryana</a></li>
            <li><a href="#">Chandigarh</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>South India States</h4>
        <ul>
            <li><a href="#">Karnataka</a></li>
            <li><a href="#">Andhra Pradesh</a></li>
            <li><a href="#">Kerala</a></li>
            <li><a href="#">Tamil Nadu</a></li>
            <li><a href="#">Telangana</a></li>
            <li><a href="#">Lakshadweep</a></li>
            <li><a href="#">Andaman and Nicobar</a></li>
            <li><a href="#">Pondicherry</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Central India States</h4>
        <ul>
            <li><a href="#">Madhya Pradesh</a></li>
            <li><a href="#">Chhattisgarh</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>West India States</h4>
        <ul>
          <li><a href="#">Gujarat</a></li>
          <li><a href="#">Maharashtra</a> </li>
          <li><a href="#">Goa</a></li>
          <li><a href="#">Daman and diu</a></li>
          <li><a href="#">Dadra and Nagar haveli</a></li>
            
        </ul>
    </div>
    <div class="footer-section">
        <h4>East India States</h4>
        <ul>
          <li><a href="#">Odisha</a></li>
          <li><a href="#">West Bengal</a> </li>
          <li><a href="#">Bihar</a></li>
          <li><a href="#">Jharkhand </a></li>
          <li><a href="#">Arunachal Pradesh</a> </li>
          <li><a href="#">Nagaland</a> </li>
          <li><a href="#">Tripura</a></li>
          <li><a href="#">Assam</a></li>
          <li><a href="#">Manipur</a></li>
          <li><a href="#">Mizoram</a></li>
          <li><a href="#">Meghalaya</a> </li>
          <li><a href="#">Sikkim</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
 