<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haryana</title>
    <link rel="stylesheet" href="/static/haryana/haryana.css"> 
    <script defer src ="/static/haryana/haryana.js"></script>
</head>
   
<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="haryana-banner">
            <img  class="haryana-banner"  src="/static/haryana/haryana-banner.avif">
        </div>
        <div id="haryana-tag">
            <h1 class="heading">HARYANA</h1>
            <p class="quote">A Blend of Heritage and Modernity</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3564144.210963192!2d73.39756007295779!3d29.264426356437262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390db00b8670400b%3A0x732eaab4aaa6c143!2sHaryana!5e0!3m2!1sen!2sin!4v1718793107453!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>
               
               
            </ul>
      <div id="bar-layover"></div>
        </div>
        <section id="content">
               <section id="overview-section">
          <div class="overview">
            <h1>Overview</h1>
                <p> <big>Haryana</big>, a state nestled in northern India, offers a captivating tapestry of experiences for travelers.  Steeped in rich history and blessed with natural beauty, Haryana promises an unforgettable journey.  Here's a glimpse of what awaits you:</p><br>
                    
                <h3>Cultural Delights:</h3>

                <p>Kurukshetra: Embark on a pilgrimage to Kurukshetra, the legendary battlefield of the epic Mahabharata. Explore sacred temples, historical sites, and monuments that commemorate this timeless tale.<br>Panipat: Dive into Haryana's vibrant past at Panipat, renowned for its historical battles and textile industry. Visit ancient Panipat Fort and museums showcasing the region's cultural heritage.<br>Rohtak: Explore Rohtak, a city known for its wrestling traditions and archaeological marvels. Witness the iconic Rohtak Fort and unwind in the serene ambience of Rohtak Lake.<br>Surajkund Mela: Immerse yourself in the vibrant Surajkund Mela, a colorful crafts fair showcasing India's rich heritage. Witness traditional performances, shop for handcrafted souvenirs, and savor delectable cuisines from across the country.

                </p><br>
                <h3>Natural Splendor:</h3>
                <p> Aravalli Hills: Seek serenity amidst the majestic Aravalli Hills, a mountain range offering breathtaking views and a haven for nature enthusiasts. Explore hiking trails, unwind in resorts, or simply soak in the beauty of the landscape.<br>Wildlife Sanctuaries: Haryana boasts several wildlife sanctuaries, including the renowned Sultanpur Bird Sanctuary and the Bir Shikhar Wildlife Sanctuary. Spot a variety of bird species and animals, making it a paradise for nature lovers and wildlife photographers.<br>Beautiful Lakes: Haryana is dotted with picturesque lakes offering tranquility and recreational activities. Take a boat ride on the tranquil Karnal Lake or enjoy a picnic amidst the scenic ambience of Badkhal Lake.</p><br>
                
                <h3>Adventurous Activities:</h3>
                <p>Adventure Sports: Haryana caters to adventure enthusiasts with opportunities for activities like hot air ballooning, paragliding, and rock climbing.<br>
                    Golfing Paradise: Tee off at world-class golf courses nestled amidst scenic landscapes, offering an unparalleled golfing experience.</p><br>
                
                
                
                
          </div>
        </section><br><br><br>
        <section id="best-time-section">
               <div class="best-time-visit">
                  <h1>Best Time To Visit</h1>
                  <br><br><br>
                  <div class="card-container">
                    <div class="card" id="winter-card">
                        <div class="card-front1">
                            Winter
                        </div>
                        <div class="card-back1"><br><br>
                            <h2>Best time:</h2>October to March.<br><br><br><br>
                            <h2>Temperature:</h2> 7°C to 20°C
                        </div>
                    </div>
                    <div class="card" id="summer-card">
                        <div class="card-front2">
                            Summer
                        </div>
                        <div class="card-back2"><br><br>
                            <h2>Best time: </h2>March - October<br><br><br><br>
                            <h2>Temperature: </h2>45 to 47 degrees Celsius
                        </div>
                    </div>
                    <div class="card" id="monsoon-card">
                        <div class="card-front3">
                            Monsoon
                        </div>
                        <div class="card-back3"><br><br>
                            <h2>Best time: </h2>July to September<br><br><br><br>
                            <h2>Temperature: </h2>heavy rainfall 
                        </div>
                    </div>
                </div>
            
               </div>
        </section>
        
        <section id="places-visit-section">
            <div class="places-visit">
                <h1>Places To Visit</h1>
                <div id="slider-bar">
                 <div class="container">
            
                    <div class="slide">
            
                        
                        <div class="item" style="background-image: url(/static/haryana/kurukshetra.jpg);">
                            <div class="content">
                                <div class="name">kurukshetra</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/haryana/morni-hills-haryana.jpg);">
                            <div class="content">
                                <div class="name">Morni Hills</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/haryana/mahendragarh.jpg);">
                            <div class="content">
                                <div class="name">Mahendragarh</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/haryana/panipat.jpg);">
                            <div class="content">
                                <div class="name">Panipat </div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/haryana/pinjore-garden.jpg);">
                            <div class="content">
                                <div class="name">Pinjore-Garden</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/haryana/sultanpur-bird-sanctuary.jpg);">
                            <div class="content">
                                <div class="name">Sultanpur Bird Sanctuary</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
            
                    </div>
            
                    <div class="button">
                        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                 </div>
              </div> 
            </div>
        </section>
        <section id="how-to-reach-section">
            <div class="how-to-reach">
                <h1>How To Reach</h1><br><br><br>
                <h2>Train:</h2> <p>Haryana has a well-connected railway network, with several trains running to major cities within the state and connecting them to other parts of India.<br>
                    Major railway junctions in Haryana include:<br>
                    Ambala Cantonment Junction (UMB)<br>
                    Bhiwani Junction (BWN)<br>
                    Faridabad Junction (FDB)<br>
                    Gurgaon Junction (Ggn)<br>
                    Hisar Junction (HSR)<br>
                    Karnal Junction (KLN)<br>
                    Panipat Junction (PNP)<br>
                    Rohtak Junction (ROH)</p>

                <h2>Bus:</h2><p>Haryana has a good network of bus routes connecting its cities and towns.
                Major bus terminals in Haryana include:<br>
                Inter State Bus Terminus (ISBT) in Chandigarh<br>
                ISBT in करनाल (Karnal)<br>
                ISBT in Hisar<br>
                ISBT in Rohtak<br>
                Both government and private bus companies operate services within Haryana.
                Government buses are generally cheaper, while private buses may offer more amenities.
                Travelers can inquire about schedules and fares at the respective bus terminals or online through the websites of the operating companies.</p>

                <h2>Air:</h2><p>While Haryana doesn't have its own domestic airport, travelers can fly into the nearby Indira Gandhi International Airport (DEL) in Delhi.<br>
                Delhi is well-connected to all major Indian cities, offering easy access to Haryana via onward travel options.
                From Delhi, taxis, cabs, or car rentals can be used to reach various destinations within Haryana.</p>
               
        </section>
      </section> 
      <section id="package">
        <h2>Travel Package</h2><br>
        <p>Experience the best of comfort with our exclusive travel package:</p><br>
        <ul>
            <li>5 days and 4 nights stay at a luxury resort</li>
            <li>Guided tours to must-visit locations</li>
            <li>All meals included</li>
            <li>Special cultural evening with local performances</li>
        </ul><br><br>
        <button >Book Now</button>
    </section>


    </main>
    <footer></footer>
</body>

</html>