<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Himachal Pradesh</title>
    <link rel="stylesheet" href="/static/himachalpradesh/himachal.css"> 
    <script defer src ="/static/himachalpradesh/himachal.js"></script>
</head>
   
<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/destination">Destination</a></li>
                    <li><a href="/location">Hotel Locater</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="himachal-banner">
            <img  class="himachal-banner"  src="/static/himachalpradesh/himachal-banner.avif">
        </div>
        <div id="himachal-tag">
            <h1 class="heading">HIMACHAL PRADESH</h1>
            <p class="quote">Unveiling the Abode of Snow</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1735960.4197439726!2d75.98231070285921!3d31.81007470941322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390453c367f901f7%3A0x7cfe04c5564b7725!2sHimachal%20Pradesh!5e0!3m2!1sen!2sin!4v1718795070535!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>
               
               
            </ul>
        <div id="bar-layover"></div>
        </div>
        <section id="content">
               <section id="overview-section">
          <div class="overview">
            <h1>Overview</h1>
                 <p><big>Himachal Pradesh</big> , nestled in the majestic Himalayas, is a paradise for nature lovers and adventure seekers.  This breathtaking state offers a captivating blend of snow-clad peaks, verdant valleys, cascading waterfalls, and charming hill stations.  Here's a glimpse of the magic that awaits you in Himachal Pradesh:</p> <br> 
                <h3>Hill Stations:</h3>

                <p>Shimla: The former summer capital of British India, Shimla is a charming hill station known for its colonial architecture, including the Viceregal Lodge. Take a stroll along the Mall Road, a bustling pedestrian zone, or enjoy panoramic views from the Himalayan Nature Park.<br>Manali: A haven for adventure enthusiasts, Manali offers stunning scenery, snow-capped peaks, and opportunities for skiing, paragliding, and trekking. Explore the serene Rohtang Pass, visit the ancient Vashisht Temple, or soak in the beauty of the Beas River.<br>Dalhousie: Picturesque and serene, Dalhousie offers a tranquil escape amidst rolling hills and pine forests. Explore colonial architecture, embark on a trek to Sach Pass, or simply relax amidst the captivating beauty of nature.

                </p><br>
                <h3>Adventure Playground:</h3>
                <p> Trekking: Himachal Pradesh boasts some of India's most stunning treks, catering to all levels of experience. Embark on the challenging trek to the summit of Deo Tibba, explore the scenic trails of the Kullu Valley, or take a leisurely walk amidst the apple orchards of Kinnaur.<br>Skiing: Manali and Narkanda transform into winter Hit the slopes at Solang Valley or explore the trails around Rohtang Pass.
                <br>Rafting: The Beas and Sutlej rivers offer exciting white water rafting adventures. Navigate through the rapids, experience the thrill of the currents, and create unforgettable memories.</p>
                
                <h3>Cultural Delights:</h3>
                <p>Temples: Himachal Pradesh is dotted with ancient temples showcasing rich cultural heritage. Visit the Hidimba Devi Temple in Manali, explore the intricate carvings of the Jakhoo Temple in Shimla, or seek blessings at the Naina Devi Temple.<br>Monasteries: Explore the vibrant Buddhist culture of Himachal Pradesh at monasteries like the Thiksey Monastery and the Key Monastery. Witness the serene atmosphere, admire the beautiful architecture, and delve into the spiritual traditions.<br>Cuisinary Delights: Himachal Pradesh offers a delicious array of local cuisine. Savor Siddu, steamed wheat flour dumplings, indulge in Himachali Thali, a platter of regional dishes, or try the local variety of Momos.</p><br>
                
                
                
                
          </div>
        </section><br><br><br>
        <section id="best-time-section">
               <div class="best-time-visit">
                  <h1>Best Time To Visit</h1>
                  <br><br><br>
                  <div class="card-container">
                    <div class="card" id="winter-card">
                        <div class="card-front1">
                            Winter
                        </div>
                        <div class="card-back1"><br><br>
                            <h2>Best time:</h2>October to February.<br><br><br><br>
                            <h2>Temperature:</h2> -1°C to 15°C
                        </div>
                    </div>
                    <div class="card" id="summer-card">
                        <div class="card-front2">
                            Summer
                        </div>
                        <div class="card-back2"><br><br>
                            <h2>Best time: </h2>March to June<br><br><br><br>
                            <h2>Temperature: </h2> 18°C to 28°C
                        </div>
                    </div>
                    <div class="card" id="monsoon-card">
                        <div class="card-front3">
                            Monsoon
                        </div>
                        <div class="card-back3"><br><br>
                            <h2>Best time: </h2>July to September<br><br><br><br>
                            <h2>Temperature: </h2>18°C to 23°C  
                        </div>
                    </div>
                </div>
            
               </div>
        </section>
        
        <section id="places-visit-section">
            <div class="places-visit">
                <h1>Places To Visit</h1>
                <div id="slider-bar">
                 <div class="container">
            
                    <div class="slide">
            
                        
                        <div class="item" style="background-image: url(/static/himachalpradesh/Kullu-Manali.jpg);">
                            <div class="content">
                                <div class="name">Kullu Manali</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/himachalpradesh/Kasol.jpg);">
                            <div class="content">
                                <div class="name">Kasol</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/himachalpradesh/Kufri.jpg);">
                            <div class="content">
                                <div class="name">Kufri</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/himachalpradesh/Dharamshala.jpg);">
                            <div class="content">
                                <div class="name">Dharamshala </div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/himachalpradesh/Palampur.jpg);">
                            <div class="content">
                                <div class="name">Palampur</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/himachalpradesh/Shimla.jpg);">
                            <div class="content">
                                <div class="name">Shimla</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
            
                    </div>
            
                    <div class="button">
                        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                 </div>
              </div> 
            </div>
        </section>
        <section id="how-to-reach-section">
            <div class="how-to-reach">
                <h1>How To Reach</h1><br><br><br>
                <h2>Air:</h2> <p>While Himachal Pradesh doesn't have a major international airport, several domestic airports connect the state to other Indian cities.<br>

                    Key airports serving Himachal Pradesh:<br>
                    
                    Shimla Airport (SLI): Located near Jubbarhatti, this airport caters primarily to Shimla and surrounding areas.<br>
                    Kangra Airport (DHR): Situated in Gaggal, this airport serves the Kangra Valley, including Dharamshala.<br>
                    Kullu Manali Airport (KUU): Located in Bhuntar, this airport is the gateway to Manali and Kullu.<br>
                    Travelers can book flights through airlines or travel websites, considering factors like connectivity, travel time, and budget.<br></p>

                <h2>Train:</h2><p>Himachal Pradesh has limited rail connectivity within the state itself. However, several major railway stations in neighboring states serve as gateways.<br>
                    Important railway junctions for reaching Himachal Pradesh:<br>
                    Pathankot Junction (PTK): This station in Punjab acts as a crucial entry point for reaching destinations like Dalhousie and Dharamshala. You can then take a taxi or cab to reach your final destination within Himachal.<br>
                    Kalka Station (KLK): Located in Haryana, Kalka is the starting point for the scenic UNESCO World Heritage Shimla-Kalka Railway. This narrow-gauge railway offers a unique travel experience to Shimla.</p>

                <h2>Bus:</h2><p>Himachal Pradesh has a well-developed network of government and private buses connecting major cities and towns within the state, as well as neighboring states.<br>
                    Key bus terminals in Himachal Pradesh:<br>
                    ISBT Shimla<br>
                    ISBT Manali<br>
                    ISBT Dharamshala<br>
                    ISBT Kullu<br>
                    Travelers can inquire about schedules and fares at the respective bus terminals or online through the websites of the operating companies. Government buses are generally cheaper, while private buses may offer more amenities.</p>
               
        </section>
      </section>
      <section id="package">
        <h2>Travel Package</h2><br>
        <p>Experience the best of comfort with our exclusive travel package:</p><br>
        <ul>
            <li>5 days and 4 nights stay at a luxury resort</li>
            <li>Guided tours to must-visit locations</li>
            <li>All meals included</li>
            <li>Special cultural evening with local performances</li>
        </ul><br><br>
        <button >Book Now</button>
    </section>

    </main>
    <footer></footer>
</body>

</html>
