<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jammu and kashmir</title>
    <link rel="stylesheet" href="/static/jammu/jammu.css"> 
    <script defer src ="/static/jammu/jammu.js"></script>
</head>
   
<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="jammu-banner">
            <img  class="jammu-banner"  src="/static/jammu/jammu.avif">
        </div>
        <div id="himachal-tag">
            <h1 class="heading">JAMMU & KASHMIR</h1>
            <p class="quote">Unveiling Paradise on Earth
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1702967.2932990007!2d73.94530940584914!3d33.52457770701154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1092499ffa89d%3A0x6567a6d4697e7f1!2sJammu%20and%20Kashmir!5e0!3m2!1sen!2sin!4v1718806979895!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>
               
               
            </ul>
        <div id="bar-layover"></div>
        </div>
        <section id="content">
               <section id="overview-section">
          <div class="overview">
            <h1>Overview</h1>
                 <p><big>Jammu and Kashmir</big>  , nestled amidst the majestic Himalayas, is a crown jewel of India, renowned for its breathtaking landscapes, rich cultural heritage, and spiritual significance.  This captivating region promises an unforgettable experience, from the serene beauty of Kashmir Valley to the adventurous terrains of Jammu.</p> <br> 
                <h3>Unveiling Kashmir's Enchantment:</h3>

                <p>Srinagar:  Glide through the scenic Dal Lake in a shikara (wooden boat), a quintessential Kashmiri experience. Explore the Mughal Gardens, showcasing the grandeur of Islamic architecture, or visit the Hazratbal Shrine, a revered Islamic pilgrimage site.<br>Pahalgam:  Embark on a trek through the Aru Valley, known for its meadows and gushing streams. Explore the Baisaran meadow, a haven for nature lovers, or visit the Amarnath Cave, a holy Hindu shrine.<br>

                    Sonamarg:  也被称为“金色草甸” (Běi yuě ch Cheng "golden meadow" in Chinese), Sonamarg offers breathtaking scenery with snow-capped mountains and glaciers. Take a pony ride on the Thajiwas Glacier or witness the serene beauty of Krishnasar Lake.<br>
                    

                    Gulmarg:  Nicknamed "Meadow of Flowers," Gulmarg offers stunning vistas of snow-capped mountains. Indulge in skiing or snowboarding during winter, or enjoy a scenic Gondola ride during summer.<br>

                </p><br>
                <h3>Exploring Jammu's Majesty:</h3>
                <p> Vaishno Devi Temple:  Embark on a holy pilgrimage to the revered Vaishno Devi Temple, nestled amidst the Trikuta Hills. Witness the unwavering faith of devotees and experience the serenity of the Himalayas.<br>

                    Patnitop:  Escape the summer heat at Patnitop, a charming hill station known for its scenic beauty. Enjoy a cable car ride, explore the Nageen Lake, or indulge in adventure activities like paragliding.<br>
                    
                    Mansaar Lake & Surinsar Lake:  Visit the twin lakes of Mansaar and Surinsar, popular for boating and offering scenic views of the surrounding hills. Explore the ancient temples around the lakes and delve into the region's rich history.<br>
                    
                    Hemis National Park:  Spot elusive wildlife like snow leopards and brown bears in the Hemis National Park, a haven for endangered species. Hike through the lush valleys and immerse yourself in the beauty of the Himalayas.</p><br>
                
                
                
                
                
          </div>
        </section><br><br><br>
        <section id="best-time-section">
               <div class="best-time-visit">
                  <h1>Best Time To Visit</h1>
                  <br><br><br>
                  <div class="card-container">
                    <div class="card" id="winter-card">
                        <div class="card-front1">
                            Winter
                        </div>
                        <div class="card-back1"><br><br>
                            <h2>Best time:</h2>November to February<br><br><br><br>
                            <h2>Temperature:</h2> Jammu (4°C to 15°C), Kashmir (sub-zero to 5°C)
                        </div>
                    </div>
                    <div class="card" id="summer-card">
                        <div class="card-front2">
                            Summer
                        </div>
                        <div class="card-back2"><br><br>
                            <h2>Best time: </h2>March to June<br><br><br><br>
                            <h2>Temperature: </h2> (18°C to 30°C), and (15°C to 25°C)
                        </div>
                    </div>
                    <div class="card" id="monsoon-card">
                        <div class="card-front3">
                            Monsoon
                        </div>
                        <div class="card-back3"><br><br>
                            <h2>Best time: </h2>July to September<br><br><br><br>
                            <h2>Temperature: </h2>18°C to 23°C  
                        </div>
                    </div>
                </div>
            
               </div>
        </section>
        
        <section id="places-visit-section">
            <div class="places-visit">
                <h1>Places To Visit</h1>
                <div id="slider-bar">
                 <div class="container">
            
                    <div class="slide">
            
                        
                        <div class="item" style="background-image: url(/static/jammu/Dal-Lake-Srinagar-1.jpg);">
                            <div class="content">
                                <div class="name">Dal-Lake-Srinagar</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/jammu/Betab-Valley-Kashmir-1024x683.jpg);">
                            <div class="content">
                                <div class="name">Betab-Valley-Kashmir</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/jammu/Pahalgam-Kashmir-1024x683.jpg);">
                            <div class="content">
                                <div class="name">Pahalgam-Kashmir</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/jammu/Sonmarg-Kashmir.jpg);">
                            <div class="content">
                                <div class="name">Sonmarg-Kashmir </div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/jammu/Vaishno-Devi-Temple-1024x683.jpg);">
                            <div class="content">
                                <div class="name">Vaishno-Devi-Temple</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(/static/jammu/Kashmir-Tourism-1024x683.jpg);">
                            <div class="content">
                                <div class="name">Kashmir</div>
                                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                                <button>See More</button>
                            </div>
                        </div>
            
                    </div>
            
                    <div class="button">
                        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                 </div>
              </div> 
            </div>
        </section>
        <section id="how-to-reach-section">
            <div class="how-to-reach">
                <h1>How To Reach</h1><br><br><br>
                <h2>Air:</h2> <p>Jammu and Kashmir has two main airports:<br>

                    Srinagar International Airport (SXR): This is the major airport serving Kashmir, with connections to major Indian cities like Delhi, Mumbai, Chandigarh, and Bangalore.<br>
                    Jammu Airport (IXJ): Located in Satwari, this airport caters to the Jammu region, with flights from Delhi, Chandigarh, and other Indian cities.<br>
                    Travelers can search for flights and compare prices on various travel websites or airline apps.</p>

                <h2>Train:</h2><p>Jammu and Kashmir has better rail connectivity in the Jammu region compared to Kashmir.<br>
                    The key railway station serving Kashmir is:<br>
                    Jammu Tawi Railway Station (JAT): This is an important railhead, well-connected to major Indian cities like Delhi, Mumbai, Kolkata, Lucknow, and Amritsar. However, reaching Srinagar by train requires further travel from Jammu.</p>

                <h2>Bus:</h2><p>Jammu and Kashmir has a good network of government and private buses connecting major cities and towns within the state, as well as neighboring states.<br>
                    Key bus terminals:<br>
                    ISBT Jammu<br>
                    ISBT Srinagar<br>
                    Travelers can inquire about schedules and fares at the respective bus terminals or online through the websites of the operating companies. Government buses are generally cheaper, while private buses may offer more amenities.</p>
               
        </section>
      </section> 
      <section id="package">
        <h2>Travel Package</h2><br>
        <p>Experience the best of comfort with our exclusive travel package:</p><br>
        <ul>
            <li>5 days and 4 nights stay at a luxury resort</li>
            <li>Guided tours to must-visit locations</li>
            <li>All meals included</li>
            <li>Special cultural evening with local performances</li>
        </ul><br><br>
        <button >Book Now</button>
    </section>

    </main>
    <footer></footer>
</body>

</html>
