<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karnataka</title>
    <link rel="stylesheet" href="/static/karnataka/karnataka.css">
    <script defer src="/static/karnataka/karnataka.js"></script>
</head>

<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="karnataka-banner">
            <img class="karnataka-banner" src="/static/karnataka/karnataka-banner.avif">
        </div>
        <div id="karnataka-tag">
            <h1 class="heading">KARNATAKA</h1>
            <p class="quote">The road to paradise begins in Karnataka . </p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945976.67699772!2d73.67852717026373!3d15.020831980349941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35a4c37bf488f%3A0x41f1d28cd1757cd5!2sKarnataka!5e0!3m2!1sen!2sin!4v1719030809094!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>


            </ul>
            <div id="bar-layover"></div>
        </div>
        <section id="content">
            <section id="overview-section">
                <div class="overview">
                    <h1>Overview</h1>
                    <p> <big>Karnataka</big> , a state in southwestern India, is a land of scenic beauty, rich history,
                        and cultural vibrancy. From the majestic Western Ghats mountains to the serene beaches on the
                        Arabian Sea coast, Karnataka offers something for every traveler.</p>
                    <h3>Diverse Landscapes: </h3>
                    <p> Karnataka boasts a captivating blend of landscapes. Hike through the lush greenery of the
                        Western Ghats, explore the serene backwaters of Kerala, or relax on the pristine beaches of Goa.
                    </p>
                    <h3>Historical Significance: </h3>
                    <p> Steeped in history, Karnataka was home to powerful empires like the Chalukyas, Rashtrakutas, and
                        Vijayanagara. Explore the magnificent ruins of Hampi, the architectural marvels of Mysore
                        Palace, and the historical sites of Badami and Pattadakal</p>
                    <h3>Cultural Tapestry:</h3>
                    <p> Karnataka showcases a unique cultural tapestry influenced by Hinduism, Islam, Jainism, and
                        Christianity. Witness the vibrant Mysore Dasara festival, experience the serenity of pilgrimage
                        sites like Udupi and Dharwad, or delve into the rich Carnatic music tradition.</p>

                </div>
            </section><br><br><br>
            <section id="best-time-section">
                <div class="best-time-visit">
                    <h1>Best Time To Visit</h1>
                    <br><br><br>
                    <div class="card-container">
                        <div class="card" id="winter-card">
                            <div class="card-front1">
                                Winter
                            </div>
                            <div class="card-back1"><br><br>
                                <h2>Best time:</h2>October to March<br><br><br><br>
                                <h2>Temperature:</h2>18°C to 30°C
                            </div>
                        </div>
                        <div class="card" id="summer-card">
                            <div class="card-front2">
                                Summer
                            </div>
                            <div class="card-back2"><br><br>
                                <h2>Best time: </h2>April - May<br><br><br><br>
                                <h2>Temperature: </h2>25°C to 35°C
                            </div>
                        </div>
                        <div class="card" id="monsoon-card">
                            <div class="card-front3">
                                Monsoon
                            </div>
                            <div class="card-back3"><br><br>
                                <h2>Best time: </h2>July to September<br><br><br><br>
                                <h2>Temperature: </h2>24°C to 30°C
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="places-visit-section">
                <div class="places-visit">
                    <h1>Places To Visit</h1>
                    <div id="slider-bar">
                        <div class="container">

                            <div class="slide">


                                <div class="item" style="background-image: url(/static/karnataka/Badami-Aihole-Pattadakal.jpg);">
                                    <div class="content">
                                        <div class="name">Badami-Aihole-Pattadakal</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/karnataka/Corg.jpg);">
                                    <div class="content">
                                        <div class="name">Corg</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/karnataka/Halebeedu.jpg);">
                                    <div class="content">
                                        <div class="name">Halebeedu</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/karnataka/Jog-Falls.jpg);">
                                    <div class="content">
                                        <div class="name">Jog-Falls</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/karnataka/Mysore-Palace.jpg);">
                                    <div class="content">
                                        <div class="name">Mysore-Palace</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/karnataka/Ruins-of-Hampi.jpg);">
                                    <div class="content">
                                        <div class="name">Ruins-of-Hampi</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>

                            </div>

                            <div class="button">
                                <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="how-to-reach-section">
                <div class="how-to-reach">
                    <h1>How To Reach</h1><br><br><br>
                    <h2>Air:</h2>
                    <p>
                        Karnataka has several airports, including the Kempegowda International Airport in Bengaluru,
                        which is the busiest airport in South India.<br>Other major airports in Karnataka include
                        Mangalore International Airport, Hubli Airport, Mysore Airport, Belgaum Airport, and Bijapur
                        Airport.<br>
                        Direct flights are available from all major cities in India to Bengaluru and Mangalore.

                    </p>

                    <h2>Train:</h2>
                    <p>Karnataka has a well-developed railway network that connects it to all major cities in India.<br>
                        Major railway stations in Karnataka include Bengaluru City Junction, Yesvantpur Junction,
                        Krishnarajapuram Junction, Mangalore Junction, and Hubballi Junction.<br>
                        If you're looking for a scenic journey, consider taking the Konkan Railway which connects
                        Karnataka's coastal region with Goa and Maharashtra.</p>
                    <h2>Road:</h2>
                    <p>Karnataka has a well-maintained network of national highways and state highways that connect it
                        to neighboring states.<br>
                        The Karnataka State Road Transport Corporation (KSRTC) operates a large fleet of buses that
                        connect all major cities and towns within Karnataka and to neighboring states.<br>
                        You can also hire taxis or self-drive cars to explore Karnataka at your own pace.</p>


            </section>
        </section>
        <section id="package">
            <h2>Travel Package</h2><br>
            <p>Experience the best of comfort with our exclusive travel package:</p><br>
            <ul>
                <li>5 days and 4 nights stay at a luxury resort</li>
                <li>Guided tours to must-visit locations</li>
                <li>All meals included</li>
                <li>Special cultural evening with local performances</li>
            </ul><br><br>
            <button >Book Now</button>
        </section>
    </main>
    <footer></footer>
</body>

</html>