<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerala</title>
    <link rel="stylesheet" href="/static/kerala/kerala.css">
    <script defer src="/static/kerala/kerala.js"></script>
</head>

<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="kerala-banner">
            <img class="kerala-banner" src="/static/kerala/kerala-banner.avif">
        </div>
        <div id="karnataka-tag">
            <h1 class="heading">KERALA</h1>
            <p class="quote">The road to paradise begins in Karnataka . </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4016727.0505922367!2d73.49586323196081!3d10.533315083999033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0812ffd49cf55b%3A0x64bd90fbed387c99!2sKerala!5e0!3m2!1sen!2sin!4v1719032527520!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>


            </ul>
            <div id="bar-layover"></div>
        </div>
        <section id="content">
            <section id="overview-section">
                <div class="overview">
                    <h1>Overview</h1>
                    <p> <big>Kerala</big> , often referred to as "God's Own Country," is a state in southwestern India renowned for its stunning natural beauty, rich cultural heritage, and laid-back Ayurvedic treatments. Lush green hills, serene backwaters, pristine beaches, and vibrant festivals make Kerala a top tourist destination.
                    </p>
                    <h3>Enchanting Backwaters:</h3>
                    <p> Cruise through the serene backwaters of Kerala, a network of canals, lakes, and lagoons. Explore Kumarakom, Alappuzha (Alleppey), and Kuttanad, popular destinations for houseboat stays and experiencing the unique ecosystem.

                    </p>
                    <h3>Ayurvedic Rejuvenation: </h3>
                    <p> Kerala is a pioneer in Ayurveda, a traditional Indian system of medicine focused on holistic wellness. Pamper yourself in Ayurvedic resorts and experience rejuvenating treatments based on natural herbs and therapies.
                    </p>
                    <h3>Hill Stations & Wildlife:</h3>
                    <p>Munnar, a captivating hill station nestled in the Western Ghats, offers breathtaking views, trekking trails, and tea plantations. Periyar National Park is a haven for wildlife enthusiasts, where you can spot tigers, elephants, and diverse birdlife.</p>

                </div>
            </section><br><br><br>
            <section id="best-time-section">
                <div class="best-time-visit">
                    <h1>Best Time To Visit</h1>
                    <br><br><br>
                    <div class="card-container">
                        <div class="card" id="winter-card">
                            <div class="card-front1">
                                Winter
                            </div>
                            <div class="card-back1"><br><br>
                                <h2>Best time:</h2>October to March<br><br><br><br>
                                <h2>Temperature:</h2>18°C to 29°C
                            </div>
                        </div>
                        <div class="card" id="summer-card">
                            <div class="card-front2">
                                Summer
                            </div>
                            <div class="card-back2"><br><br>
                                <h2>Best time: </h2>March to May<br><br><br><br>
                                <h2>Temperature: </h2> 32°C to 36°C
                            </div>
                        </div>
                        <div class="card" id="monsoon-card">
                            <div class="card-front3">
                                Monsoon
                            </div>
                            <div class="card-back3"><br><br>
                                <h2>Best time: </h2>July to September<br><br><br><br>
                                <h2>Temperature: </h2>19°C to 30°C
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="places-visit-section">
                <div class="places-visit">
                    <h1>Places To Visit</h1>
                    <div id="slider-bar">
                        <div class="container">

                            <div class="slide">


                                <div class="item" style="background-image: url(/static/kerala/Cochin.jpg);">
                                    <div class="content">
                                        <div class="name">Cochin</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/kerala/Alleppey.jpg);">
                                    <div class="content">
                                        <div class="name">Alleppey</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/kerala/Kottayam.jpg);">
                                    <div class="content">
                                        <div class="name">Kottayam</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/kerala/Munnar.jpg);">
                                    <div class="content">
                                        <div class="name">Munnar</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/kerala/Palakkad.jpg);">
                                    <div class="content">
                                        <div class="name">Palakkad</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/kerala/Wayanad.jpg);">
                                    <div class="content">
                                        <div class="name">Wayanad</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>

                            </div>

                            <div class="button">
                                <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="how-to-reach-section">
                <div class="how-to-reach">
                    <h1>How To Reach</h1><br><br><br>
                    <h2>Air:</h2>
                    <p>Kerala has four international airports:<br>

                        Thiruvananthapuram International Airport (TRV) in Thiruvananthapuram<br>Cochin International Airport (COK) in Kochi<br>Calicut International Airport (CCJ) in Kozhikode<br>Kannur International Airport (Kannur) in Kannur
                    </p>

                    <h2>Train:</h2>
                    <p>Kerala has an extensive railway network with over 200 railway stations.  Trains connect Kerala to most major cities in India.  Taking the train is a great way to see the beautiful Kerala countryside. Some popular trains to Kerala include the Kerala Express, Rajdhani Express, and Duronto Express.</p>
                    <h2>Road:</h2>
                    <p>Kerala has a good network of roads and highways, making it easy to get around by bus. There are government-run buses as well as private buses that operate in Kerala.  Buses are a budget-friendly way to travel around Kerala, but they can also be crowded and slow.</p>


            </section>
        </section>
        <section id="package">
            <h2>Travel Package</h2><br>
            <p>Experience the best of comfort with our exclusive travel package:</p><br>
            <ul>
                <li>5 days and 4 nights stay at a luxury resort</li>
                <li>Guided tours to must-visit locations</li>
                <li>All meals included</li>
                <li>Special cultural evening with local performances</li>
            </ul><br><br>
            <button >Book Now</button>
        </section>
    </main>
    <footer></footer>
</body>

</html>