<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ladakh</title>
    <link rel="stylesheet" href="/static/ladakh/ladakh.css">
    <script defer src="/static/ladakh/ladakh.js"></script>
</head>

<body>

    <header>
        <nav>
            <div id="navbar">
                <ul class="navbar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="ladakh-banner">
            <img class="ladakh-banner" src="/static/ladakh/ladakh-banner.avif">
        </div>
        <div id="ladakh-tag">
            <h1 class="heading">LADAKH</h1>
            <p class="quote">A Mystical Land of High Altitude Beauty and Adventure
            </p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3388038.852744924!2d74.80346946780838!3d33.97630488247167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38fd86bce37d7139%3A0xc6c2990fdad28ac7!2sLadakh!5e0!3m2!1sen!2sin!4v1718809448171!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="bar">
            <ul class="bar">
                <li><a href="#overview-section">Overview</a> </li>
                <li><a href="#best-time-section"> Best time to visit</a></li>
                <li><a href="#places-visit-section">Places to visit</a> </li>
                <li><a href="#how-to-reach-section">How to reach</a> </li>


            </ul>
            <div id="bar-layover"></div>
        </div>
        <section id="content">
            <section id="overview-section">
                <div class="overview">
                    <h1>Overview</h1>
                    <p><big>Ladakh</big> , also known as the "Land of High Passes," is a captivating region nestled
                        amidst the majestic Himalayas in northern India. This high-altitude desert paradise beckons
                        adventure seekers, spiritual pilgrims, and nature lovers with its breathtaking landscapes, rich
                        cultural heritage, and unique experiences.</p> <br>
                    <h3>Unveiling Ladakh's Wonders:</h3>

                    <p>Leh: Explore the vibrant capital city of Leh, a fascinating blend of Tibetan Buddhist
                        monasteries, bustling bazaars, and ancient ruins. Visit the imposing Leh Palace, perched atop a
                        hill, or witness the serene atmosphere of the Shanti Stupa, a Buddhist peace pagoda.<br>

                        Nubra Valley: Embark on a captivating journey to Nubra Valley, known for its stark desert
                        landscapes and unique culture. Witness the confluence of the Shyok and Nubra rivers at the
                        confluence point, or visit the Diskit Monastery, the oldest and largest monastery in the valley.
                        Experience a camel ride amidst the sand dunes, a unique sight in the high Himalayas.<br>

                        Pangong Tso Lake: Marvel at the beauty of Pangong Tso Lake, a high-altitude saltwater lake known
                        for its mesmerizing colors. Capture breathtaking views of the lake surrounded by snow-capped
                        mountains, and experience the serenity of this remote location.<br>

                        Tso Moriri Lake: Venture further to Tso Moriri Lake, a beautiful high-altitude freshwater lake
                        known for its turquoise waters. Explore the surrounding Korzok village, home to the nomadic
                        Changpa tribe, and immerse yourself in their unique culture.<br>

                        Monasteries & Spiritual Enclaves: Ladakh is dotted with numerous Tibetan Buddhist monasteries,
                        each with its own architectural style and historical significance. Explore the Hemis Monastery,
                        the largest monastery in Ladakh, or visit the Shey Monastery, perched atop a hill offering
                        panoramic views.<br>

                    </p><br>
                    <h3>Adventure Playground:</h3>
                    <p> Trekking: Ladakh offers a paradise for trekkers, with trails catering to all experience levels.
                        Challenge yourself with the high-altitude treks like the Markha Valley Trek or the Stok Kangri
                        Trek, or embark on a scenic trek through the Sham Valley.<br>

                        White Water Rafting: Navigate the thrilling rapids of the Indus River on an exhilarating white
                        water rafting adventure. The Indus offers various stretches suitable for both beginners and
                        experienced rafters.<br>

                        Mountain Biking: Explore Ladakh's diverse landscapes on a mountain biking adventure. Cycle
                        through scenic valleys, conquer challenging mountain passes, and experience the thrill of
                        exploring this unique region on two wheels.<br>

                        Motorcycling: Experience the freedom of the open road on a motorcycle expedition through Ladakh.
                        Traverse through high mountain passes, witness breathtaking scenery, and enjoy the camaraderie
                        of fellow riders.<br><br>



                </div>
            </section><br><br><br>
            <section id="best-time-section">
                <div class="best-time-visit">
                    <h1>Best Time To Visit</h1>
                    <br><br><br>
                    <div class="card-container">
                        <div class="card" id="winter-card">
                            <div class="card-front1">
                                Winter
                            </div>
                            <div class="card-back1"><br><br>
                                <h2>Best time:</h2>November-March<br><br><br><br>
                                <h2>Temperature:</h2> -25°C
                            </div>
                        </div>
                        <div class="card" id="summer-card">
                            <div class="card-front2">
                                Summer
                            </div>
                            <div class="card-back2"><br><br>
                                <h2>Best time: </h2>April-June<br><br><br><br>
                                <h2>Temperature: </h2> 10°C (50°F) to 25°C (77°F)
                            </div>
                        </div>
                        <div class="card" id="monsoon-card">
                            <div class="card-front3">
                                Monsoon
                            </div>
                            <div class="card-back3"><br><br>
                                <h2>Best time: </h2>July to August<br><br><br><br>
                                <h2>Temperature: </h2>3°C to 15°C
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="places-visit-section">
                <div class="places-visit">
                    <h1>Places To Visit</h1>
                    <div id="slider-bar">
                        <div class="container">

                            <div class="slide">


                                <div class="item"
                                    style="background-image: url(/static/ladakh/Confluence-of-Zanskar-and-Indus-river.jpg);">
                                    <div class="content">
                                        <div class="name">Confluence of Zanskar and Indus river</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/ladakh/Gurdwara-Pathar-Sahib.jpg);">
                                    <div class="content">
                                        <div class="name">Gurdwara Pathar Sahib</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/ladakh/Hall-of-Fame-Museum.jpg);">
                                    <div class="content">
                                        <div class="name">Hall of Fame Museum</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/ladakh/Pangong-Tso-Lake.jpg);">
                                    <div class="content">
                                        <div class="name">Pangong </div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/ladakh/Shanti_Stupa_Ladakh.jpg);">
                                    <div class="content">
                                        <div class="name">Shanti Stupa</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(/static/ladakh/Thikse_Monastery_.jpg);">
                                    <div class="content">
                                        <div class="name">Thikse Monastery</div>
                                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab,
                                            eum!</div>
                                        <button>See More</button>
                                    </div>
                                </div>

                            </div>

                            <div class="button">
                                <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="how-to-reach-section">
                <div class="how-to-reach">
                    <h1>How To Reach</h1><br><br><br>
                    <h2>Air:</h2>
                    <p>lights operate throughout the year, but the summer months offer pleasant weather (15 to 30
                        degrees Celsius) and clear skies for smoother landings at the high-altitude Kushok Bakula
                        Rimpochee Airport. Be aware that flight prices tend to be higher during this time.

                    </p>

                    <h2>Train:</h2>
                    <p>Nearest Train Station: While there's no train station in Ladakh itself, Jammu Tawi railway
                        station is the closest one, located approximately 700 km away.<br> Similar to air travel,
                        reaching Jammu Tawi by train is best during the summer months. From there, you'll need to hire a
                        car or board a bus to complete the journey to Leh, which can take several days. This option is
                        not recommended if you are short on time.</p>

                    <h2>Bus:</h2>
                    <p>Route 1: Manali - Leh:<br>

                        Reason: The Manali-Leh highway offers breathtaking scenery, but several high mountain passes can
                        be treacherous outside the summer months due to snow and landslides.<br>Route 2: Srinagar -
                        Leh:<br>

                        Similar to the Manali route, the Srinagar-Leh highway is most accessible during the summer
                        months.</p>

            </section>
        </section>
        <section id="package">
            <h2>Travel Package</h2><br>
            <p>Experience the best of comfort with our exclusive travel package:</p><br>
            <ul>
                <li>5 days and 4 nights stay at a luxury resort</li>
                <li>Guided tours to must-visit locations</li>
                <li>All meals included</li>
                <li>Special cultural evening with local performances</li>
            </ul><br><br>
            <button>Book Now</button>
        </section>

    </main>
    <footer></footer>
</body>

</html>