<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nearby Hotels</title>
    <link rel="stylesheet" href="/static/location.style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="links-container">
                <li class="link-item" ><a href="">Hotels Nearby</a></li>
                <li class="link-item"><a href="/hotel_booking">Hotels</a></li>
                <li class="link-item"><a href="/destination">Destination</a></li>
                <li class="link-item"><a href="#hero-section"><img src="/static/123.png" class="logo" alt=""></a></li>
                <li class="link-item"><a href="#service">Services</a></li>
                <li class="link-item"><a href="/flight-booking">Book Now</a></li>
                <li class="link-item"><a href="/contact">Contact us</a></li>
                <li class="link-item"><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="title">Nearby Hotels</h1>
    <ul id="hotelList"></ul>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIPljzmt2Fh_lTYSwdfds-LWWEyhabm-E"></script>
    <script src="/static/l.js"></script>
</body>
</html>
